// All
.navbar{
    width: 100%;
    .wrap-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-brand{
            display: flex;
            align-items: center;
            font-weight: 700;
            .nav-logo{
                background-image: url('../../image/logo.png');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        
        .nav-item{color: #707070; font-weight: 500;}
    }
}

// Desktop, Labtop
@media (min-width: 1025px) {
    .wrap-navbar{margin: 20px 0;}
    .nav-menu-pc{display: block;}
    .nav-menu-mobile{display: none;}
    .nav-brand{font-size: 22px;}
    .container{width: 1433px; margin: 0 auto;}
    .nav-logo{
        width: 48px;
        height: 48px;
        margin-right: 20px;
    }
    .nav-item{
        font-size: 17px;
        margin-left: 41px;
    }
}

// Tablet
@media (min-width: 481px) and (max-width: 1024px) {
    .wrap-navbar{margin: 16px 0;}
    .nav-menu-pc{display: block;}
    .nav-menu-mobile{display: none;}
    .nav-brand{font-size: 16px;}
    .nav-logo{
        width: 40px;
        height: 40px;
        margin-right: 16px;
    }
    .nav-item{
        font-size: 17px;
        margin-left: 16px;
    }
}

// Mobile
@media (max-width: 480px) {
    .wrap-navbar{margin: 14px 0;}
    .nav-menu-pc{display: none;}
    .nav-menu-mobile{display: block;}
    .nav-brand{font-size: 16px;}
    .container{width: 324px; margin: 0 auto;}
    .nav-logo{
        width: 32px;
        height: 32px;
        margin-right: 16px;
    }
    .toggle-button{
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .nav-drop{
        width: 100%;
        position: absolute;
        z-index: 10;
        right: 0;
        padding-bottom: 16px;
        background: #fff;
        flex-direction: column;
        align-items: center;
        .nav-item{
            font-size: 16px;
            margin-top: 16px;
        }
    }
}