// All
.wrap-faq{
    margin: 20px 0 120px;
    .wrap-frequently {margin: 40px 0;}
    details > summary::-webkit-details-marker {display: none;}

    details summary:after {
        float: right;
        content: url('../image/faq/icon_down.png');
    }
    details[open] summary:after{
        content: url('../image/faq/icon_up.png');
    }
}

// Desktop, Labtop
@media (min-width: 1025px) {
    .wrap-faq{
        .faq-question{font-size: 1.6em; margin-bottom: 24px;}
        .faq-answer{font-size: 1.4em;}
    }
}

// Tablet
@media (min-width: 481px) and (max-width: 1024px) {
    .wrap-faq{
        .faq-question{font-size: 1.2em; margin-bottom: 14px;}
        .faq-answer{font-size: 1em;}
    }
}

// Mobile
@media (max-width: 480px) {
    .wrap-faq{
        .faq-question{font-size: 1em; margin-bottom: 12px;}
        .faq-answer{font-size: 1em;}
    }
}