/* Reset */
html, body, span, p, div, h1, h2, h3, h4, h5, h6, table, input, textarea{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a, a:visited, a:hover, a:active{
    color: #000;
    text-decoration: none;
}
textarea{ resize: none;}
input:focus, button:focus, textarea:focus{
    outline: none;
}

/* Font Color */
.fc-white{color: #fff;}
.fc-black{color: #000;}
.fc-pink{color: #ffb0b8;}
.fc-gray{color: #707070;}

/* Font Weight */
.fw-light{font-weight: 300;}
.fw-regular{font-weight: 400;}
.fw-medium{font-weight: 500;}
.fw-bold{font-weight: 700;}
.fw-black{font-weight: 900;}

/* Container */
.container{
    width: 80%;
    margin: 0 auto;
}

/* Button */
/* Desktop, Labtop */
@media (min-width: 1025px) {
    .btn{
        display: inline-block;
        font-size: 16px;
        padding: 8px 40px;
        border: 2px solid;
        border-radius: 50px;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
    .btn{
        display: inline-block;
        font-size: 14px;
        padding: 6px 32px;
        border: 2px solid;
        border-radius: 50px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .btn{
        display: inline-block;
        font-size: 12px;
        padding: 4px 20px;
        border: 1.5px solid;
        border-radius: 50px;
    }
}

.btn-pink{
    color: #ffb0b8;
    border-color: #ffb0b8;
    background-color: #ffffff;
}

.btn-white{
    color: #ffffff;
    border-color: #ffffff;
}